html {
    height: 100%;
  }
  body {
    background-image: linear-gradient(to right, #159957, #155799) ;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  #display-container {
    background-color: #ffffff;
    padding: 3.1em 1.8em;
    width: 60%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    text-align: center;
    box-shadow: 0 0 10px 5px rgb(56, 56, 56);

  }
  .header {
    margin-bottom: 1.8em;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 0.6em;
  }
  .number-of-count{
    text-align: center;
  }
  .question {
    margin-bottom: 1.25em;
    font-weight: 600;
  }
  .option-div {
    font-size: 0.9em;
    width: auto;
    padding: 1em;
    margin: 0.5em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid #c0bfd2;
    border-radius: 0.3em;
    /* background-color: skyblue; */
  }
  .option-div:disabled {
    color: #000000;
    cursor: not-allowed;
  }
  #next-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: #0a69ed;
    color: #ffffff;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: center;
  }
  .hide {
    display: none;
  }
  .incorrect {
    background-color: #ffdde0;
    color: #d32f2f;
    border-color: #d32f2f;
  }
  .correct {
    background-color: #e7f6d5;
    color: #689f38;
    border-color: #689f38;
  }

